@page "/"

<h1>Hello, world!</h1>

<AuthorizeView>
    <Authorized>
        <h3>Congrats! You are authorized!</h3>
    </Authorized>
</AuthorizeView>

This is a demo project showcasing the integration of:
<ul>
    <li>.NET 5 Web API</li>
    <li>.NET 5 Blazor (server)</li>
    <li><a href="http://auth0.com" target="_blank">Auth0</a></li>
    <li>JWT-based authentication for Web API</li>
    <li>Cookie-based authentication for Blazor</li>
</ul>

<SurveyPrompt Title="How is Blazor working for you?" />
